
<div class="blog-update">
    <h2>{{createdAt}}</h2>
    <form class="form">
        <div class="form-group">
            <input class="form-input" id="blog-heading" placeholder="{{heading}}" />
        </div>

        <div class="form-group">
            <textarea class="form-input" id="blog-content">{{content}}</textarea>
        </div>

        <button class="btn btn-success" type="submit">Update Post</button>
    </form>
</div>