
.login-card {
    margin-left: 25px;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: rgb(188, 190, 192);
    color: var(--light);
  }

